<!DOCTYPE html>
<head>
   <title>Form</title>
</head>
<body>
<center>
  <h3>FORM</h3>
  <hr><form action="/response" method="POST">
  <p>Enter your name: </p><input type="text" name="name" placeholder="Name" required><br>
  <p>Enter the level: </p><input type="number" name="level" placeholder="level" required>
  <br>
  <input type="submit" name="submit" value="submit"><br></center>
</body>
</html>
